---
import ButtonEmail from "../ButtonEmail.astro"
---

<!-- ====== About Section Start -->
<section
	class='overflow-hidden pt-20 pb-8 lg:py-[30px] dark:bg-dark px-4 sm:px-2 md:px-0'
>
	<div class='container mx-auto'>
		<div class='flex flex-wrap items-center justify-between -mx-4'>
			<div class='w-full px-4 lg:w-6/12'>
				<div class='flex items-center -mx-3 sm:-mx-4'>
					<div class='w-full px-3 sm:px-4 xl:w-1/2'>
						<div class='py-3 sm:py-4'>
							<img
								src=`/imagenes/about/23.jpeg`
								alt=''
								class='w-full rounded-2xl object-cover'
								style='aspect-ratio: 232 / 343;'
							/>
						</div>
						<div class='py-3 sm:py-4'>
							<img
								src=`/imagenes/about/25.jpeg`
								alt=''
								class='w-full rounded-2xl object-cover'
								style='aspect-ratio: 232 / 343;'
							/>
						</div>
					</div>
					<div class='w-full px-3 sm:px-4 xl:w-1/2'>
						<div class='relative z-10 my-4'>
							<img
								src=`/imagenes/about/11.jpeg`
								alt=''
								class='w-full rounded-2xl object-cover'
								style='aspect-ratio: 232 / 343;'
							/>
						</div>
					</div>
				</div>
			</div>
			<div class='w-full px-4 lg:w-1/2 xl:w-5/12'>
				<div class='mt-10 lg:mt-0'>
					<h3 class='block mb-4 text-3xl font-bold text-primary'>
						Why Choose Us
					</h3>
					<h2
						class='mb-5 text-4xl font-bold text-balance text-dark dark:text-white sm:text-[30px]/[48px]'
					>
						Top-Quality Painting: Guaranteed Satisfaction with
						Romero's Expertise
					</h2>
					<p
						class='mb-5 text-lg text-body-color text-pretty dark:text-dark-6'
					>
						Romero's Painting ensures 100% client satisfaction. With
						10+ years' experience, we use premium paints like
						Sherwin Williams and Benjamin Moore, prioritizing
						safety. Trusted by Fortune 500 companies, our motto is
						"Nothing is Impossible, in the Right Hands."
					</p>
					<p
						class='mb-8 text-lg text-body-color text-pretty dark:text-dark-6'
					>
						For your commercial, residential, industrial or
						remodeling needs, contact us today to get your free
						quote! Let’s finally make your vision a reality.
					</p>
					<ButtonEmail />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ====== About Section End -->
