<section class='grid grid-cols-1 sm:grid-cols-2 mt-20 gap-4'>
	<div>
		<h2 class='font-sans text-4xl font-bold text-center'>
			Our Certificates
		</h2>
		<p class='font-sans text-xl mt-5 text-center'>
			Our top-tier quality is certified by independent accreditation
			bodies, confirming our excellence in testing, inspection,
			certification, and calibration.
		</p>
	</div>
	<div class='flex flex-wrap gap-3 justify-center'>
		<img
			src='/imagenes/certificates/accredited-business.png'
			class='object-cover w-60'
		/>
		<img
			src='/imagenes/certificates/painting.png'
			class='object-scale-down w-60'
		/>
		<img
			src='/imagenes/certificates/lead-safe.png'
			class='object-scale-down w-48'
		/>
	</div>
</section>
