---
import Card from "../Card.astro"
---

<h2 class='text-black font-bold text-4xl text-center mt-8'>Services</h2>
<section
	class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 bg-[#f3f3f3] justify-items-center items-stretch py-8 px-4 gap-2'
>
	<Card
		href='/comercial'
		title='COMMERCIAL'
		body='We prioritize excellence inside and out, surpassing customer expectations.'
		image='/imagenes/commercial/portada.jpg'
	/>
	<Card
		href='/residential'
		title='RESIDENTIAL'
		body='Our meticulous prep work ensures flawless finishes, exceeding expectations.'
		image='/imagenes/residential/portada.jpg'
	/>
	<Card
		href='/remodeling'
		title='REMODELING'
		body='At Romero’s Painting, we transform spaces, bringing fresh, exciting renewal.'
		image='/imagenes/remodeling/portada.jpg'
	/>
	<Card
		href='/industrial'
		title='INDUSTRIAL'
		body='Industrial coatings prevent corrosion and enhance fire resistance on structures.'
		image='/imagenes/industrial/portada.jpg'
	/>
</section>
