---
import Card from "../Card.astro"
---

<h2 class='text-black font-bold text-4xl text-center mt-3'>Services</h2>
<section
	class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 bg-[#f3f3f3] justify-items-center items-stretch py-8 px-4 gap-2'
>
	<Card
		href='/comercial'
		title='COMMERCIAL'
		body='At Romero’s Painting, we work on large scale commercial projects – buildings, restaurants, grocery and clothing stores, etc. all at the hours most convenient for our clients. We want to make your upgrade as easy as possible to accomplish.'
		image='/imagenes/commercial/portada.jpg'
	/>
	<Card
		href='/residential'
		title='RESIDENTIAL'
		body='When our customers understand the quality of paint service being provided and realize how much we value their investment, they don’t look for anything else.They’re satisfied and confident with Romeros Painting on their team.'
		image='/imagenes/residential/portada.jpg'
	/>
	<Card
		href='/remodeling'
		title='REMODELING'
		body='Romeros Painting is a company certified by EPA (Environmental Protection Agency), which ensures protection for homes, schools, and all other facilities built before 1978 are “lead-safe. ”.'
		image='/imagenes/remodeling/portada.jpg'
	/>
	<Card
		href='/industrial'
		title='INDUSTRIAL'
		body='Specialized paints, coatings and materials are used in our industrial projects on various structures and surfaces to resist various elements and high traffic areas.'
		image='/imagenes/industrial/portada.jpg'
	/>
</section>
