---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Privacy Policy'>
	<section>
		<div class='my-6'>
			<h1>PRIVACY POLICY</h1>
			<p>
				Protecting your private information is our priority. This
				Statement of Privacy governs data collection and usage and
				applies to the https://www.romerospaintingmaintenance.com and
				Romero´s Painting & Maintenance. For the purposes of this
				Privacy Policy, unless otherwise noted, all references to
				Romero´s Painting & Maintenance include
				https://www.romerospaintingmaintenance.com and Romero´s Painting
				& Maintenance. The Romero´s Painting & Maintenance website is an
				ecommerce site. By using the Romero´s Painting & Maintenance
				website, you consent to the data practices described in this
				statement.
			</p>
		</div>
		<div class='my-6'>
			<h2>Collection of your Personal Information</h2>
			<p>
				Romero´s Painting & Maintenance may collect personal
				identifiable information, such as your name. If you purchase
				Romero´s Painting & Maintenance’s products and services, we
				collect billing and credit card information. We may gather
				additional personal or non-personal information in the future.
			</p>
			<p>
				Information about your computer hardware and software may be
				automatically collected by Romero´s Painting & Maintenance. This
				information can include: your IP address, browser type, domain
				names, access times and referring website addresses. This
				information is used for the operation of the service, to
				maintain quality of the service, and to provide general
				statistics regarding use of the Romero´s Painting & Maintenance
				website.
			</p>
			<p>
				Romero´s Painting & Maintenance encourages you to review the
				privacy statements of websites you choose to link to from
				Romero´s Painting & Maintenance so that you can understand how
				those websites collect, use and share your information. Romero´s
				Painting & Maintenance is not responsible for the privacy
				statements or other content on websites outside of the Romero´s
				Painting & Maintenance website.
			</p>
		</div>
		<div class='my-6'>
			<h2>Use of your Personal Information</h2>
			<p>
				Romero´s Painting & Maintenance collects and uses your personal
				information to operate its website(s) and deliver the services
				you have requested.
			</p>
			<p>
				Romero´s Painting & Maintenance may also use your personal
				identifiable information to inform you of other products or
				services available from Romero´s Painting & Maintenance and its
				affiliates. Romero´s Painting & Maintenance may also contact you
				via surveys to conduct research about your opinion of current
				services or of potential new services that may be offered.
			</p>
			<p>
				Romero´s Painting & Maintenance does not sell, rent or lease its
				customer lists to third parties.
			</p>
			<p>
				Romero´s Painting & Maintenance may share data with trusted
				partners to help perform statistical analysis, send you email or
				postal mail to provide customer support, or arrange for
				deliveries. All such third parties are prohibited from using
				your personal information except to provide these services to
				Romero´s Painting & Maintenance, and they are required to
				maintain the confidentiality of your information.
			</p>
			<p>
				Romero´s Painting & Maintenance may keep track of the websites
				and pages our users visit within Romero´s Painting &
				Maintenance, in order to determine what Romero´s Painting &
				Maintenance services are most popular. This data is used to
				deliver customized content and advertising within Romero´s
				Painting & Maintenance to customers whose behavior indicates
				that they are interested in a particular subject area.
			</p>
			<p>
				Romero´s Painting & Maintenance will disclose your personal
				information, without notice, only if required to do so by law or
				in the good faith belief that such action is necessary to: (a)
				conform to the edicts of the law or comply with legal process
				served on Romero´s Painting & Maintenance or the site; (b)
				protect and defend the rights or property of Romero´s Painting &
				Maintenance; and, (c) act under exigent circumstances to protect
				the personal safety of users of Romero´s Painting & Maintenance,
				or the public.
			</p>
		</div>
		<div class='my-6'>
			<h2>Use of Cookies</h2>
			<p>
				The Romero´s Painting & Maintenance website may use “cookies” to
				help you personalize your online experience. A cookie is a text
				file that is placed on your hard disk by a web page server.
				Cookies cannot be used to run programs or deliver viruses to
				your computer. Cookies are uniquely assigned to you and can only
				be read by a web server in the domain that issued the cookie to
				you.
			</p>
			<p>
				One of the primary purposes of cookies is to provide a
				convenience feature to save you time. The purpose of a cookie is
				to tell the Web server that you have returned to a specific
				page. For example, if you personalize Romero´s Painting &
				Maintenance pages or register with Romero´s Painting &
				Maintenance site or services, a cookie helps Romero´s Painting &
				Maintenance to recall your specific information on subsequent
				visits. This simplifies the process of recording your personal
				information such as billing addresses, shipping addresses, and
				so on. When you return to the same Romero´s Painting &
				Maintenance website, the information you previously provided can
				be retrieved, so you can easily use the Romero´s Painting &
				Maintenance features that you customized.
			</p>
			<p>
				You have the ability to accept or decline cookies. Most Web
				browsers automatically accept cookies, but you can usually
				modify your browser setting to decline cookies if you prefer. If
				you choose to decline cookies, you may not be able to fully
				experience the interactive features of the Romero´s Painting &
				Maintenance services or websites you visit.
			</p>
		</div>
	</section>
</Layout>
