---
import type { ImagesBeforeAfter } from "../types"
import Image from "astro/components/Image.astro"
interface Props {
	data: ImagesBeforeAfter[]
}

const { data } = Astro.props
---

<div class='swiper swiper-before-after z-0'>
	<!-- Slides -->
	<div class='swiper-wrapper'>
		{
			data.map(({ after, before }) => (
				<div class='swiper-slide'>
					<two-up class='w-fit m-auto'>
						<div class='flex justify-center items-center'>
							<Image
								class='object-cover w-1/2'
								src={before.src}
								alt={before.alt}
								width='800'
								height='800'
							/>
						</div>
						<div class='flex justify-center items-center'>
							<Image
								class='object-cover w-1/2'
								src={after.src}
								alt={after.alt}
								width='800'
								height='800'
							/>
						</div>
					</two-up>
				</div>
			))
		}
	</div>
	<!-- If we need pagination -->
	<div class='swiper-pagination'></div>

	<div class='swiper-button-prev'></div>
	<div class='swiper-button-next'></div>
</div>

<script>
	import Swiper from "swiper"
	import { Navigation, Pagination, Autoplay } from "swiper/modules"

	new Swiper(".swiper-before-after", {
		modules: [Navigation, Pagination, Autoplay],
		enabled: true,
		allowTouchMove: false,
		// Optional parameters
		loop: true,
		autoplay: {
			delay: 3000,
			disableOnInteraction: true,
			pauseOnMouseEnter: true
		},
		navigation: {
			enabled: true,
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev"
		},
		// If we need pagination
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
			dynamicBullets: true
		}
	})
</script>
