---
import type { Imagen } from "../types"
import Image from "astro/components/Image.astro"
interface Props {
	images: Imagen[]
}

const { images } = Astro.props
---

<!-- Slider main container -->
<div class='swiper swiper-hero z-0'>
	<!-- Additional required wrapper -->
	<div class='swiper-wrapper swiper-clickable'>
		<!-- Slides -->
		{
			images.map(({ alt, src }) => (
				<div class='swiper-slide'>
					<Image
						class='w-5/6 rounded-lg aspect-square object-cover shadow-xl dark:shadow-gray-900 m-auto'
						src={src}
						alt={alt}
						width='600'
						height='600'
						loading='eager'
					/>
				</div>
			))
		}
	</div>
	<!-- If we need pagination -->
	<div class='swiper-pagination'></div>

	<div class='swiper-button-prev'></div>
	<div class='swiper-button-next'></div>
</div>

<!-- final del modal -->

<script>
	import Swiper from "swiper"
	import { Navigation, Pagination, Autoplay } from "swiper/modules"

	new Swiper(".swiper-hero", {
		modules: [Navigation, Pagination, Autoplay],
		enabled: true,
		// Optional parameters
		autoHeight: true,
		centeredSlides: true,
		loop: true,
		autoplay: {
			delay: 5000,
			disableOnInteraction: true,
			pauseOnMouseEnter: true
		},
		navigation: {
			enabled: false,
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev"
		},
		// If we need pagination
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
			dynamicBullets: true
		},

		breakpoints: {
			770: {
				navigation: {
					enabled: true
				}
			}
		}
	})
</script>
