---
//import { ViewTransitions } from "astro:transitions"
import SpeedInsights from "@vercel/speed-insights/astro"
import "swiper/css"
import "swiper/css/navigation"
import "swiper/css/pagination"
import "swiper/css/zoom"
import Footer from "./Footer.astro"
import Navbar from "./Navbar.astro"
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<SpeedInsights />
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link
			rel='icon'
			type='image/svg+xml'
			href='logo-romeros-painting.svg'
		/>
		<meta
			name='description'
			content='Romeros Painting offers professional painting services for large clients. Specializing in commercial and industrial projects, we guarantee quality and exceptional results.'
		/>
		<meta
			name='keywords'
			content='professional painting, painting services, commercial projects, industrial painting, painting for businesses, Romeros Painting, painting experts, high-quality painting, corporate painting'
		/>
		<meta name='author' content='Romeros Painting' />
		<title>{title} - Romeros Painting</title>
		<script src='https://unpkg.com/two-up-element@1'></script>
		<!-- <ViewTransitions /> -->
	</head>
	<body>
		<Navbar />
		<main class='max-w-screen-xl m-auto'>
			<slot />
		</main>
		<Footer />
		<style is:global>
			@font-face {
				font-family: "Playfair";
				src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf")
					format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Lato";
				src: url("/fonts/Lato-Regular.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Roboto";
				src: url("/fonts/Roboto-Regular.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Montserrat";
				src: url("/fonts/Montserrat-VariableFont_wght.ttf")
					format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Alien";
				src: url("/fonts/Alien-Encounters-Solid-Bold.ttf")
					format("truetype");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			h1,
			h2 {
				font-family: "Playfair", "sans-serif";
				font-weight: 700;
			}
			h3,
			h4,
			h5,
			h6 {
				font-family: "Lato", "sans-serif";
			}
			p {
				font-family: "Roboto";
				font-weight: 400;
			}
			a,
			button,
			li,
			span {
				font-family: "Montserrat";
			}
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
			html {
				font-family: system-ui, sans-serif;
				background: #f3f3f3;
				background-size: 224px;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
		</style>
	</body>
</html>
